# Virtualenv
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Env files / secrets
.env
.env.*

# OS / editor
.DS_Store
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
